<header>
    <div>
        <div class="logo">
            <a href="/">
                <h1>ART's Blog</h1>
            </a>

        </div>
        <nav>
            <p>A blog with Elegance</p>
            <ul>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav>

    </div>
</header>