<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
            <div class="content about">
                <h2>About Us</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt quam explicabo eum laboriosam
                    deserunt tenetur unde eveniet commodi, voluptatem quia qui minus esse repudiandae consectetur,
                    tempore eaque odio saepe aperiam molestias! Ratione ipsam sunt impedit sequi. Quasi assumenda illum
                    velit beatae suscipit, quis dicta incidunt, aut consectetur eos molestiae perferendis.
                </p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt quam explicabo eum laboriosam
                    deserunt tenetur unde eveniet commodi, voluptatem quia qui minus esse repudiandae consectetur,
                    tempore eaque odio saepe aperiam molestias! Ratione ipsam sunt impedit sequi. Quasi assumenda illum
                    velit beatae suscipit, quis dicta incidunt, aut consectetur eos molestiae perferendis.
                </p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt quam explicabo eum laboriosam
                    deserunt tenetur unde eveniet commodi, voluptatem quia qui minus esse repudiandae consectetur,
                    tempore eaque odio saepe aperiam molestias! Ratione ipsam sunt impedit sequi. Quasi assumenda illum
                    velit beatae suscipit, quis dicta incidunt, aut consectetur eos molestiae perferendis.
                </p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>